* {
  padding: 0;
  margin: 0;
  border-radius: 5px;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: sans-serif;
  background: linear-gradient(115deg, #56d8e4 10%, #9f01ea 90%);
}
.container {
  position: relative;
  width: 400px;
  padding:40px;
  background-color: #fff;
}
header {
  font-size: 40px;
  margin-bottom: 60px;
  font-family: "Montserrat", sans-serif;
}
.input-field,
form .button {
  margin: 15px 0;
  position: relative;
  height: 50px;
  width: 100%;
}
.input-field input {
  width: 100%;
  height: 100%;
  border: 1px solid silver;
  padding-left: 15px;
  outline: none;
  font-size: 19px;
  transition: 0.3s;
}
input:focus {
  border: 1px solid #1da1f2;
}
.input-field label, span.show {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.input-field label{
  left: 15px;
  pointer-events: none;
  color: grey;
  font-size: 18px;
  transition: 0.3s;
}
span.show {
 right: 20px; 
 font-size: 14px;
 color: #111;
 font-family: 'Open Sans', sans-serif;
 cursor: pointer;
 user-select: none;
 visibility: hidden;
}
input:valid ~ span.show{
  visibility: visible;
}
input:focus ~ label,
input:valid ~ label {
  transform: translateY(-33px);
  background-color: #fff;
  font-size: 16px;
  color: #1da1f2;
}
form .button {
  margin-top: 30px;
  overflow: hidden;
  z-index: 222;
}
.button .inner {
  position: absolute;
  height: 100%;
  width: 300%;
  left: -100%;
  z-index: -222;
  transition: 0.4s;
  background: -webkit-linear-gradient(
    right,
    #00dbde,
    #fc00ff,
    #00dbde,
    #fc00ff
  );
}
.button:hover .inner{
    left: 0;
}
.button button {
  width: 100%;
  height: 100%;
  border: none;
  background: none;
  outline: none;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
}
.container .auth{
  margin: 20px 0 20px 0;
  font-size: 16px;
  color: grey;
}
.links{
  display: flex;
  cursor: pointer;
}
.facebook, .google{
  height: 40px;
  width: 100%;
  border: 1px solid silver;
  border-radius: 3px;
  margin: 0 10px;
  position: relative;
  transition: 0.3s;
}
.facebook:hover{
  border: 1px solid #4267b2;
}
.google:hover{
  border: 1px solid #dd4b39;
}
.facebook i , .facebook span{
  color: #4267b2;
}
.google i , .google span{
  color: #dd4b39;
}
.links i{
  font-size: 23px;
  line-height: 40px;
  margin-left: -90px;
}
.links span{
  position: absolute;
  font-size: 17px;
  top: 50%;
  transform: translateY(-50%);
  padding-left: 8px;
  font-family: 'Open Sans', sans-serif;
}
.signup{
  margin-top: 20px;
  font-family: 'Noto Sans', sans-serif;
}
.signup a{
  color: #3498db;
  text-decoration: none;
}
.signup a:hover{
  text-decoration: underline;
}